<a href="https://colab.research.google.com/github/raphaellins/ai-playground/blob/master/Core_Learning_Algorithms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
%tensorflow_version 2.x
import tensorflow as tf
import pandas as pd

In [3]:
CSV_COLUMN_NAMES = ['SepalLength','SepalWidth','PetalWidth', 'Species' ]
SPECIES = ['Setosa', 'Versicolor', 'Virginica']

In [6]:
train_path = tf.keras.utils.get_file("iris_training.csv", "https://storage.googleapis.com/download.tensorflow.org/data/iris_training.csv")
test_path = tf.keras.utils.get_file("iris_test.csv", "https://storage.googleapis.com/download.tensorflow.org/data/iris_test.csv")

In [7]:
train = pd.read_csv(train_path, names=CSV_COLUMN_NAMES, header=0)
test = pd.read_csv(test_path, names=CSV_COLUMN_NAMES, header=0)

In [8]:
train.head()

     SepalLength  SepalWidth  PetalWidth  Species
6.4          2.8         5.6         2.2        2
5.0          2.3         3.3         1.0        1
4.9          2.5         4.5         1.7        2
4.9          3.1         1.5         0.1        0
5.7          3.8         1.7         0.3        0