<a href="https://colab.research.google.com/github/raphaellins/ai-playground/blob/master/pandas_playground.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/MLAZ/pokemon_data.csv')

In [ ]:
df.columns

In [ ]:
df['Speed'][0:5]
df[['Name', 'Defense']][0:10]

In [ ]:
df.head

In [ ]:
df.head(4)
df.iloc[0:4]
df.iloc[2, 1] #row/column
df.iloc[0:4]

In [ ]:
for index, row in df.iterrows():
  print(index, row['Name'])

In [ ]:
df.loc[df['Type 2'] == 'Dragon']

In [ ]:
df.describe()

In [ ]:
df.sort_values(['Name', 'HP'], ascending=[True, False])

In [ ]:
df.head(4)
df['Total'] = df['HP'] + df['Attack']
df.head(4)

df = df.drop(columns=['Total'])

In [ ]:
df['Total'] = df.iloc[:, 4:9].sum(axis=1)

df.to_csv('/content/drive/My Drive/MLAZ/pokemon_data_2.csv', index=False)

df_new = pd.read_csv('/content/drive/My Drive/MLAZ/pokemon_data_2.csv')
df_new

In [ ]:
df.loc[df['Type 1'] == 'Grass']
df_filtering = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 100)]
df_filtering

       #       Name Type 1  Type 2  ...  Speed  Generation  Legendary  Total
652  591  Amoonguss  Grass  Poison  ...     30           5      False    434

[1 rows x 13 columns]